# Ignore Unity build files (Standard list)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# FORCE include ServerData (The exclamation mark means 'Do Not Ignore')
!/[Ss]erver[Dd]ata/
ServerData/iOS/remotetravelphotos_assets_all_60149ad919d5eec5d54084e7ab2e310a.bundle
